<div class="component-usage-section">
  <h5 class="component-usage-section-title">Alternative small personnas</h5>

  <div class="component-usage-section-content">

    <div class="personna-item">

      <MsfPersonna>
        <MsfPersonnaFigure  [imageUrl]="imgSrc" size="size24"></MsfPersonnaFigure>
        <MsfPersonnaText>
          <span class="msf-personna-primaryText">Annie Reid</span>
          <span class="msf-personna-secondaryText">Designer</span>
        </MsfPersonnaText>
      </MsfPersonna>
    </div>


    <div class="personna-item">
      <MsfPersonna>
        <MsfPersonnaFigure  [imageUrl]="imgSrc" size="size32"></MsfPersonnaFigure>
        <MsfPersonnaText>
          <span class="msf-personna-primaryText">Annie Reid</span>
          <span class="msf-personna-secondaryText">Designer</span>
        </MsfPersonnaText>
      </MsfPersonna>
    </div>

    <div class="personna-item">
      <MsfPersonna>
        <MsfPersonnaFigure  [imageUrl]="imgSrc" size="size40" presence="online"></MsfPersonnaFigure>
        <MsfPersonnaText>
          <span class="msf-personna-primaryText">Annie Reid</span>
          <span class="msf-personna-secondaryText">Designer</span>
        </MsfPersonnaText>
      </MsfPersonna>
    </div>

  </div>
</div>
