<img *ngIf="!unknown && imageUrl" [src]="imageUrl" alt="" [className]="'msf-personna-' + size" [width]="width" [height]="width">

<div *ngIf="!unknown && textInitial"
     class="msf-personna-figure-initial ms-bgColor-{{color}}" >
  {{textInitial}}
</div>

<div *ngIf="!unknown && !textInitial && !imageUrl"
     class="ms-bgColor-{{color}} msf-personna-figure-person">
  <span class="ms-Icon ms-Icon--Contact"></span>
</div>

<div *ngIf="unknown && !textInitial && !imageUrl"
     class="msf-personna-figure-unknown">
  <MsfIcon [iconName]="unknownIconName"></MsfIcon>

</div>


<span *ngIf="presence && presence != 'none'" class="msf-personna-presence msf-personna-presence-{{presence}} ">
<!--  <span class="ms-Icon ms-Icon&#45;&#45;{{presenceIconName}}"></span>-->
<!--  <span class="msf-personna-presence-icon" MsfIcon *ngIf="canShowIcon" [iconName]="presenceIconName"></span>-->
</span>
