<app-layout title="Table">
  <h1>Table</h1>

  <div>

    <div class="d-flex">
      <input (keyup)="filter($event.target.value)" placeholder="enter element Name" type="text"/>
      <label class="msf-label" id="Reactive-nonmetal-filter">
        <MsfCheckbox (change)="check($event.source,'Reactive nonmetal')" [checked]="true"
                     forLabel="#Reactive-nonmetal-filter"> </MsfCheckbox>  Reactive nonmetal
      </label>

      <label class="msf-label" id="Noble-gas">
        <MsfCheckbox (change)="check($event.source,'Noble gas')" [checked]="true" forLabel="#Noble-gas"></MsfCheckbox>
        Noble gas
      </label>

      <label class="msf-label" id="Alkali-metal">
        <MsfCheckbox (change)="check($event.source,'Alkali metal')" [checked]="true" forLabel="#Alkali-metal">

        </MsfCheckbox>Alkali metal
      </label>

    </div>

    <div style="display: flex">
      <div style="width: 700px">

        <MsfTable (selectionChange)="updateSelection($event)" [selectable]="true">
          <MsfTableHead>
            <MsfTableHeadCell>
              <MsfCheckbox MsfCheckboxGrid></MsfCheckbox>
            </MsfTableHeadCell>
            <MsfTableHeadCell>#</MsfTableHeadCell>
            <MsfTableHeadCell>Id</MsfTableHeadCell>
            <MsfTableHeadCell sortBy="position">Position</MsfTableHeadCell>
            <MsfTableHeadCell sortBy="name">Name</MsfTableHeadCell>
            <MsfTableHeadCell sortBy="weight">Weight</MsfTableHeadCell>
            <MsfTableHeadCell sortBy="symbol">Symbol</MsfTableHeadCell>
            <MsfTableHeadCell sortBy="type">Type</MsfTableHeadCell>
            <MsfTableHeadCell></MsfTableHeadCell>
          </MsfTableHead>

          <MsfTableRow #row *ngFor="let item of items" [value]="item">
            <MsfTableHeadCell>
              <MsfCheckbox MsfCheckboxGrid></MsfCheckbox>
            </MsfTableHeadCell>
            <MsfTableCell>{{row._sortOrder + 1}}</MsfTableCell>
            <MsfTableCell>{{item.id}}</MsfTableCell>
            <MsfTableCell>{{item.position}}</MsfTableCell>
            <MsfTableCell>{{item.name}}</MsfTableCell>
            <MsfTableCell>{{item.weight}}</MsfTableCell>
            <MsfTableCell>{{item.symbol}}</MsfTableCell>
            <MsfTableCell>{{item.type}}</MsfTableCell>
            <MsfTableCell>
              <MsfIconButton (click)="delete(item)" [rounded]="true" icon="Delete" theme="error"></MsfIconButton>
            </MsfTableCell>
          </MsfTableRow>
        </MsfTable>
      </div>

      <div style="font-family: 'Courier New', Courier, monospace; width: 300px">
        {{selection}}
      </div>
    </div>
  </div>


</app-layout>
