<app-layout title="Table">
  <h1>Table</h1>

  <div>
    <h2>Table with selection</h2>

    <div style="display: flex">
      <div style="width: 500px">
        <input type="text" (keyup)="filter($event.target.value)" placeholder="enter element Name" />
        <MsfTable (selectionChange)="updateSelection($event)" [selectable]="true">
          <MsfTableHead>
            <MsfTableHeadCell>
              <MsfCheckbox MsfCheckboxGrid></MsfCheckbox>
            </MsfTableHeadCell>
            <MsfTableHeadCell>#</MsfTableHeadCell>
            <MsfTableHeadCell>Id</MsfTableHeadCell>
            <MsfTableHeadCell sortBy="position">Position</MsfTableHeadCell>
            <MsfTableHeadCell sortBy="name">Name</MsfTableHeadCell>
            <MsfTableHeadCell sortBy="weight">Weight</MsfTableHeadCell>
            <MsfTableHeadCell sortBy="symbol">Symbol</MsfTableHeadCell>
            <MsfTableHeadCell ></MsfTableHeadCell>
          </MsfTableHead>

          <MsfTableRow *ngFor="let item of items" [value]="item" #row>
            <MsfTableHeadCell>
              <MsfCheckbox MsfCheckboxGrid></MsfCheckbox>
            </MsfTableHeadCell>
            <MsfTableCell>{{row.index + 1}}</MsfTableCell>
            <MsfTableCell >{{item.id}}</MsfTableCell>
            <MsfTableCell >{{item.position}}</MsfTableCell>
            <MsfTableCell>{{item.name}}</MsfTableCell>
            <MsfTableCell>{{item.weight}}</MsfTableCell>
            <MsfTableCell>{{item.symbol}}</MsfTableCell>
            <MsfTableCell>
              <MsfIconButton icon="Delete" theme="error" [rounded]="true" (click)="remove(item)"></MsfIconButton>
            </MsfTableCell>
          </MsfTableRow>
        </MsfTable>
      </div>

      <div style="font-family: 'Courier New', Courier, monospace; width: 300px">
        {{selection}}
      </div>
    </div>
  </div>



</app-layout>
