@import "variables/_Color.Variables.scss";
@import "variables/_Font.Variables.scss";

.ms-Label {
  font-family: "Segoe UI", $ms-font-family-west-european;
  -webkit-font-smoothing: antialiased;
  font-size: $ms-font-size-14;
  font-weight: $ms-font-weight-semibold;
  color: inherit;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  display: block;
  padding: 0;
  overflow-wrap: break-word;
}