
<app-layout title="Icons">
  <h1>Persona</h1>

  <div class="component-overview">
    <h3 class="component-overview-title">Overview</h3>
    <div class="component-overview-content">
      A Dropdown is a list in which the selected item is always visible,
      and the others are visible on demand by clicking a drop-down button.
      They are used to simplify the design and make a choice within the UI.
      When closed, only the selected item is visible. When users click the drop-down button,
      all the options become visible. To change the value, users open the list and
      click another value or use the arrow keys (up and down) to select a new value.
    </div>
  </div>


  <div class="component-usage mt-5">
    <h3 class="component-usage-title">Usage</h3>

    <div class="component-usage-section">
      <h5 class="component-usage-section-title">Basic</h5>
      <div class="component-usage-section-content">
        <MsfSelect>
          <ng-template MsfSelectTemplate let-value="value">{{value}}</ng-template>
          <MsfSelectOption *ngFor="let item of items" [value]="item.name">{{item.name}}</MsfSelectOption>
        </MsfSelect>
      </div>
    </div>

    <div class="component-usage-section">
      <h5 class="component-usage-section-title">Group</h5>
      <div class="component-usage-section-content">
        <MsfSelect [multiple]="true">

          <MsfSelectOptionGroup *ngFor="let g of groups" [label]="g">
            <MsfSelectOption *ngFor="let item of itemMap[g]" [value]="item.name">{{item.name}}</MsfSelectOption>
          </MsfSelectOptionGroup>

          <MsfSelectOptionGroup [label]="'Other'" disabled="true">
            <MsfSelectOption value="Plutonium">Plutonium</MsfSelectOption>
          </MsfSelectOptionGroup>

        </MsfSelect>
      </div>
    </div>
  </div>

</app-layout>
