<app-layout title="Menu">
  <h1>Menu</h1>

  <div class="component-overview">
    <h3 class="component-overview-title">Overview</h3>
    <div class="component-overview-content">
      ContextualMenus are lists of commands that are based on the context of selection,
      mouse hover or keyboard focus.
      They are one of the most effective and highly used command surfaces,
      and can be used in a variety of places.
    </div>
  </div>


  <div class="component-usage mt-5">
    <h3 class="component-usage-title">Usage</h3>

    <div class="component-usage-section">
      <h5 class="component-usage-section-title">ContextualMenu with checkable menu items</h5>
      <div class="component-usage-section-content">
        <MsfButton [MsfMenuTrigger]="menu" theme="primary">Toggle Menu</MsfButton>
        <MsfButton [MsfMenuTrigger]="menu" theme="standard">Toggle Menu</MsfButton>
        <MsfMenu #menu>
          <MsfMenuItemGroup>
            <MsfMenuItem>
              <MsfCheckbox MsfMenuItemCheckbox></MsfCheckbox>
              New
            </MsfMenuItem>
            <MsfMenuItem icon="Delete" theme="error">
              <MsfCheckbox MsfMenuItemCheckbox></MsfCheckbox>
              Delete
            </MsfMenuItem>
            <MsfMenuItem icon="Share">
              <MsfCheckbox MsfMenuItemCheckbox></MsfCheckbox>
              Share
            </MsfMenuItem>
            <MsfMenuItem>
              <MsfCheckbox MsfMenuItemCheckbox></MsfCheckbox>
              Mobile
            </MsfMenuItem>
          </MsfMenuItemGroup>
          <MsfMenuItemGroup [divider]="false">
            <MsfMenuItem icon="Print">
              <MsfCheckbox MsfMenuItemCheckbox></MsfCheckbox>
              Print
            </MsfMenuItem>
            <MsfMenuItem> Musique</MsfMenuItem>
          </MsfMenuItemGroup>
        </MsfMenu>
      </div>
    </div>

    <div class="component-usage-section">
      <h5 class="component-usage-section-title">Basic</h5>
      <div class="component-usage-section-content">
        <MsfButton [MsfMenuTrigger]="basicMenu" class="mr-3" theme="primary" xPosition="ltl">Left to Left</MsfButton>
        <MsfButton [MsfMenuTrigger]="basicMenu" class="mr-3" theme="primary" xPosition="ltr">Left to right</MsfButton>
        <MsfButton [MsfMenuTrigger]="basicMenu" class="mr-3" theme="primary" xPosition="rtl">Right to left</MsfButton>
        <MsfButton [MsfMenuTrigger]="basicMenu" class="mr-3" theme="primary" xPosition="rtr">Right to right</MsfButton>

        <div class="mt-3">
          <MsfButton [MsfMenuTrigger]="basicMenu" class="mr-3" theme="primary" yPosition="ttt">Top to top</MsfButton>
          <MsfButton [MsfMenuTrigger]="basicMenu" class="mr-3" theme="primary" yPosition="ttb">Top to bottom</MsfButton>
          <MsfButton [MsfMenuTrigger]="basicMenu" class="mr-3" theme="primary" yPosition="btt">Bottom to top</MsfButton>
          <MsfButton [MsfMenuTrigger]="basicMenu" class="mr-3" theme="primary" yPosition="btb">Bottom to bottom
          </MsfButton>
        </div>
        <MsfMenu #basicMenu>
          <MsfMenuItem>Add</MsfMenuItem>

          <MsfMenuItem>Edit</MsfMenuItem>
          <MsfMenuItem>Rename</MsfMenuItem>
          <MsfMenuItem>Properties</MsfMenuItem>

          <MsfMenuItem disabled>Disabled item</MsfMenuItem>
        </MsfMenu>
      </div>
    </div>

    <div class="component-usage-section">
      <h5 class="component-usage-section-title">Menu with icon</h5>
      <div class="component-usage-section-content">
        <MsfButton [MsfMenuTrigger]="iconMenu" theme="primary">Toggle Menu</MsfButton>
        <MsfMenu #iconMenu>
          <MsfMenuItem icon="WordDocument">Open in word</MsfMenuItem>
          <MsfMenuItem icon="Add">Add</MsfMenuItem>
          <MsfMenuItem icon="Upload" theme="error">Upload</MsfMenuItem>
          <div class="msf-divider"></div>
          <MsfMenuItem icon="Share"> Share</MsfMenuItem>
          <MsfMenuItem icon="Print"> Print</MsfMenuItem>
          <MsfMenuItem icon="MusicInCollection">Music</MsfMenuItem>
        </MsfMenu>
      </div>
    </div>

    <div class="component-usage-section">
      <h5 class="component-usage-section-title">ContextualMenu with section headers</h5>

      <div class="component-usage-section-content">
        <MsfButton [MsfMenuTrigger]="headerMenu" theme="primary">Toggle Menu</MsfButton>
        <MsfMenu #headerMenu>
          <MsfMenuItemGroup title="Actions">
            <MsfMenuItem>New</MsfMenuItem>
            <MsfMenuItem icon="Delete" theme="danger">Delete</MsfMenuItem>
          </MsfMenuItemGroup>

          <MsfMenuItemGroup title="Social">
            <MsfMenuItem>Share</MsfMenuItem>
            <MsfMenuItem>Print</MsfMenuItem>
            <MsfMenuItem> Music</MsfMenuItem>
          </MsfMenuItemGroup>

          <MsfMenuItemGroup title="Navigation">
            <MsfMenuItem>Go to bing</MsfMenuItem>
          </MsfMenuItemGroup>
        </MsfMenu>
      </div>
    </div>

    <div class="component-usage-section">
      <h5 class="component-usage-section-title">Menu with secondary icon</h5>
      <div class="component-usage-section-content">
        <MsfButton [MsfMenuTrigger]="secondaryIconMenu" theme="primary">Toggle Menu</MsfButton>
        <MsfMenu #secondaryIconMenu>
          <MsfMenuItem icon="Add" secondaryIcon="ChevronRight">Add</MsfMenuItem>
          <MsfMenuItem icon="Folder">Open</MsfMenuItem>
          <MsfMenuItem>Open URL</MsfMenuItem>
          <MsfMenuItem icon="Cancel">Close</MsfMenuItem>
        </MsfMenu>
      </div>
    </div>

    <div class="component-usage-section">
      <h5 class="component-usage-section-title"> Menu secondary text</h5>
      <div class="component-usage-section-content">
        <MsfButton [MsfMenuTrigger]="secondaryTextMenu" theme="primary">Toggle Menu</MsfButton>
        <MsfMenu #secondaryTextMenu>

          <MsfMenuItem icon="Add" secondaryIcon="ChevronRight" secondaryText="Ctrl + N" theme="success">Add
          </MsfMenuItem>
          <MsfMenuItem icon="Folder" secondaryText="Ctrl + O" theme="primary">Open</MsfMenuItem>
          <MsfMenuItem>Open a URL</MsfMenuItem>
          <MsfMenuItem icon="Cancel" secondaryText="Alt + F4" theme="warning">Close</MsfMenuItem>
          <MsfMenuItem icon="Delete" secondaryText="Shift + Del" theme="error">Delete</MsfMenuItem>
        </MsfMenu>
      </div>
    </div>


  </div>


</app-layout>
