<app-layout title="Button">
<h1>Button</h1>

<div class="mt-5">
    <h2>Default Button</h2>
    <div class="mt-3">
        <button MsfButton theme="standard">Standard</button>
        <button MsfButton theme="primary" class="ml-2" (click)='click()'>Primary</button>
        <button MsfButton theme="success" class="ml-2" (click)='click()'>Success</button>
        <button MsfButton theme="warning" class="ml-2" (click)='click()'>Warning</button>
        <button MsfButton theme="error" class="ml-2" (click)='click()'>Error</button>
    </div>
    <div class="mt-4">
        <h4>Disabled default button</h4>
        <div class="mt-3">
            <MsfButton theme="standard" disabled>Standard</MsfButton>
            <MsfButton theme="primary" disabled class="ml-2" (click)='click()'>Primary</MsfButton>
            <MsfButton theme="success" disabled class="ml-2" (click)='click()'>Success</MsfButton>
            <MsfButton theme="warning" disabled class="ml-2" (click)='click()'>Warning</MsfButton>
            <MsfButton theme="error" disabled class="ml-2" (click)='click()'>Error</MsfButton>
        </div>

    </div>
</div>


<div class="mt-5">
    <h2>Outline Button</h2>
    <div class="mt-3">
        <MsfOutlineButton >Standard</MsfOutlineButton>
        <MsfOutlineButton theme="primary" class="ml-2" (click)='click()'>Primary</MsfOutlineButton>
        <MsfOutlineButton theme="success" class="ml-2" (click)='click()'>Success</MsfOutlineButton>
        <MsfButton [outline]="true" theme="warning" class="ml-2" (click)='click()'>Cancel</MsfButton>
        <MsfButton [outline]="true" theme="error" class="ml-2" (click)='click()'>Delete</MsfButton>
    </div>
    <div class="mt-4">
        <h4>Disabled outline button</h4>
        <div class="mt-3">
            <MsfButton Outline disabled>Standard</MsfButton>
            <MsfButton Outline theme="primary" disabled class="ml-2" (click)='click()'>Primary</MsfButton>
            <MsfButton Outline theme="success" disabled class="ml-2" (click)='click()'>Success</MsfButton>
            <MsfButton Outline theme="warning" disabled class="ml-2" (click)='click()'>Cancel</MsfButton>
            <MsfButton Outline theme="error" disabled class="ml-2" (click)="click()">Delete</MsfButton>
        </div>
    </div>
</div>


<div class="mt-5">
    <h2>Button with icon</h2>
    <div class="mt-3">
        <MsfOutlineButton Icon="Home">Standard</MsfOutlineButton>
        <MsfOutlineButton theme="primary" Icon="Add" class="ml-2">Primary</MsfOutlineButton>
        <MsfOutlineButton theme="success" Icon="CheckMark" class="ml-2">Success</MsfOutlineButton>
        <MsfOutlineButton theme="warning" class="ml-2" Icon="Cancel">Warning</MsfOutlineButton>
        <MsfOutlineButton theme="error" class="ml-2" Icon="Delete">Error</MsfOutlineButton>
    </div>
    <div class="mt-3">
        <MsfButton Icon="Home">Standard</MsfButton>
        <MsfButton theme="primary" Icon="Add" class="ml-2">Primary</MsfButton>
        <MsfButton theme="success" Icon="CheckMark" class="ml-2">Success</MsfButton>
        <MsfButton theme="warning" class="ml-2" Icon="Cancel">Warning</MsfButton>
        <MsfButton theme="error" class="ml-2" Icon="Delete">Error</MsfButton>
    </div>
    <div class="mt-3">
        <MsfButton Icon="Home" disabled>Standard</MsfButton>
        <MsfButton theme="primary" Icon="Add" class="ml-2" disabled>Primary</MsfButton>
        <MsfButton theme="success" Icon="CheckMark" class="ml-2" disabled>Success</MsfButton>
        <MsfOutlineButton theme="warning" class="ml-2" Icon="Cancel" disabled>Warning</MsfOutlineButton>
        <MsfOutlineButton theme="error" class="ml-2" Icon="Delete" disabled>Error</MsfOutlineButton>
    </div>
</div>


<div class="mt-5">
    <h2>Button with left icon</h2>
    <div class="mt-3">
        <MsfButton Icon="Add" LeftIcon="ChevronDown">Add</MsfButton>
        <MsfOutlineButton Icon="Add" LeftIcon="ChevronDown" class="ml-2">Add</MsfOutlineButton>
        <MsfOutlineButton theme="success" class="ml-2" LeftIcon="ChevronDown">Success</MsfOutlineButton>
        <MsfOutlineButton theme="warning" class="ml-2" Icon="Cancel" LeftIcon="ChevronDown">Cancel</MsfOutlineButton>
        <MsfButton theme="error" class="ml-2" disabled Icon="Delete" LeftIcon="ChevronDown">Delete</MsfButton>
    </div>
</div>


<div class="mt-5">
    <h2>Split button</h2>
    <div class="mt-3">
        <MsfSplitButton theme="standard">
            <MsfButton Icon="Add" #LeftButton>Add</MsfButton>
            <MsfIconButton icon="ChevronDown" #RightButton></MsfIconButton>
        </MsfSplitButton>

      <MsfSplitButton class="ml-2" theme="standard">
        <MsfButton Icon="Add" #LeftButton>Add</MsfButton>
        <MsfIconButton icon="ChevronDown" #RightButton theme="primary"></MsfIconButton>
      </MsfSplitButton>

      <MsfSplitButton class="ml-2" LeftIcon="ChevronLeft">
        <MsfButton Icon="Add" #LeftButton theme="success">Add</MsfButton>
        <MsfIconButton icon="ChevronDown" #RightButton theme="primary"></MsfIconButton>
      </MsfSplitButton>

      <MsfSplitButton class="ml-2" LeftIcon="ChevronLeft" Outline theme="primary">
        <MsfButton Icon="Add" #LeftButton >Add</MsfButton>
        <MsfIconButton icon="ChevronDown" #RightButton ></MsfIconButton>
      </MsfSplitButton>

      <MsfSplitButton class="ml-2" LeftIcon="ChevronLeft" theme="primary">
        <MsfButton Icon="Add" #LeftButton >Add</MsfButton>
        <MsfIconButton icon="ChevronDown" #RightButton Outline></MsfIconButton>
      </MsfSplitButton>

      <MsfSplitButton class="ml-2" LeftIcon="ChevronLeft" theme="primary" disabled>
        <MsfButton Icon="Add" #LeftButton >Add</MsfButton>
        <MsfIconButton icon="ChevronDown" #RightButton Outline></MsfIconButton>
      </MsfSplitButton>

      <MsfSplitButton class="ml-2" LeftIcon="ChevronLeft" theme="primary">
        <MsfButton Icon="Add" #LeftButton >Add</MsfButton>
        <MsfIconButton icon="ChevronDown" #RightButton Disabled></MsfIconButton>
      </MsfSplitButton>
    </div>
</div>







<div class="mt-5">
    <h2>Icon Button</h2>
    <div class="mt-3">
        <MsfIconButton icon="Home"></MsfIconButton>
        <MsfIconButton theme="primary" class="ml-2" iconImage="document"></MsfIconButton>
        <MsfIconButton theme="success" class="ml-2" iconImage="neural"></MsfIconButton>
        <MsfIconButton theme="warning" iconImage="/assets/icon/archive.png" class="ml-2"></MsfIconButton>
        <MsfIconButton theme="error" icon="Delete" class="ml-2"></MsfIconButton>

        <MsfIconButton iconImage="/assets/icon/save.svg" class="ml-2"></MsfIconButton>
        <MsfIconButton Outline theme="primary" icon="Add" class="ml-2">Primary</MsfIconButton>
        <MsfIconButton Outline theme="success" icon="CheckMark" class="ml-2">Success</MsfIconButton>
        <MsfIconButton Outline theme="warning" icon="Cancel" class="ml-2">Warning</MsfIconButton>
        <MsfIconButton Outline theme="error" icon="Delete" class="ml-2">Error</MsfIconButton>
    </div>

    <div class="mt-3">
        <span MsfIconButton rounded="true" Outline icon="Home" class="ml-2">Standard</span>
        <span MsfIconButton rounded="true" Outline theme="primary" icon="Cancel" class="ml-2">Primary</span>
        <span MsfIconButton rounded="true" Outline theme="success" icon="CheckMark" class="ml-2">Success</span>
        <span MsfIconButton rounded="true" Outline theme="warning" icon="Cancel" class="ml-2">Warning</span>
        <span MsfIconButton rounded="true" Outline theme="error" icon="Delete" class="ml-2">Error</span>
        <MsfIconButton outline="true" rounded="true" iconImage="/assets/icon/settings.png" class="ml-2"></MsfIconButton>
        <MsfIconButton outline="true" rounded="true" theme="primary" icon="Add" class="ml-2">Primary</MsfIconButton>
        <MsfIconButton outline="true" rounded="true" theme="success" icon="CheckMark" class="ml-2">Success</MsfIconButton>
        <MsfIconButton outline="true" rounded="true" theme="warning" icon="Cancel" class="ml-2">Warning</MsfIconButton>
        <MsfIconButton outline="true" rounded="true" theme="error" icon="Blocked" class="ml-2">Error</MsfIconButton>
    </div>

    <div class="mt-3">
        <span MsfIconButton icon="home" disabled>Standard</span>
        <span MsfIconButton theme="primary" icon="Cancel" disabled class="ml-2"></span>
        <span MsfIconButton Rounded theme="success" icon="CheckMark" disabled class="ml-2"></span>
        <span MsfIconButton Outline theme="warning" icon="Cancel" disabled class="ml-2"></span>
        <span MsfIconButton Outline Rounded theme="error" icon="Delete" disabled class="ml-2"></span>
    </div>
</div>

<div class="mt-5">
    <h2>Command Button</h2>
    <div class="mt-3">
        <MsfCommandButton>Standard</MsfCommandButton>
        <MsfCommandButton theme="primary">Primary</MsfCommandButton>
        <MsfCommandButton theme="success" class="ml-2">Success</MsfCommandButton>
        <MsfCommandButton theme="warning" class="ml-2">Warning</MsfCommandButton>
        <MsfCommandButton theme="error" class="ml-2">Error</MsfCommandButton>
    </div>
    <div class="mt-4">
        <h4>Command button with right and left icon</h4>
        <div class="mt-3">
            <MsfCommandButton Icon="Add" LeftIcon="ChevronDown">New</MsfCommandButton>
            <MsfCommandButton theme="primary" Icon="Upload" class="ml-2">Primary</MsfCommandButton>
            <MsfCommandButton Icon="More" class="ml-2"></MsfCommandButton>
            <MsfCommandButton theme="warning" Icon="Cancel" class="ml-2">Cancel</MsfCommandButton>
            <MsfCommandButton theme="error" Icon="Delete" class="ml-2">Error</MsfCommandButton>
        </div>
    </div>

    <div class="mt-4">
        <h4>Disabled command button </h4>
        <div class="mt-3">
            <MsfCommandButton Icon="Add" LeftIcon="ChevronDown" disabled>New</MsfCommandButton>
            <MsfCommandButton theme="primary" Icon="Upload" class="ml-2" disabled>Primary</MsfCommandButton>
            <MsfCommandButton Icon="More" class="ml-2" disabled></MsfCommandButton>
            <MsfCommandButton theme="warning" Icon="Cancel" class="ml-2" disabled>Cancel</MsfCommandButton>
            <MsfCommandButton theme="error" Icon="Delete" class="ml-2" disabled>Error</MsfCommandButton>
        </div>
    </div>
</div>



<div class="mt-5">
    <h2>Sized Button</h2>
    <div class="mt-3">
        <h4>1x</h4>
        <MsfIconButton Size="1" icon="Add">Add</MsfIconButton>
        <MsfIconButton Size="1" icon="Add" Outline Rounded class="ml-2">Add</MsfIconButton>
        <MsfButton Size="1" theme="primary" class="ml-2">Standard</MsfButton>
        <MsfButton theme="primary" Size="1" Outline class="ml-2">Primary</MsfButton>
        <MsfButton theme="primary" class="ml-2" Split Size="1" Icon="Add" LeftIcon="ChevronDown" class="ml-2"></MsfButton>
        <MsfCommandButton Icon="Add" LeftIcon="ChevronDown" Size="1" class="ml-2">New</MsfCommandButton>

    </div>
    <div class="mt-3">
        <h4>2x</h4>
        <MsfIconButton Size="2" icon="Add" Outline>Add</MsfIconButton>
        <MsfIconButton Size="2" icon="Add" Outline Rounded class="ml-2">Add</MsfIconButton>
        <MsfButton Size="2" theme="primary" class="ml-2">Standard</MsfButton>
        <MsfButton theme="primary" Size="2" Outline class="ml-2">Primary</MsfButton>
        <MsfButton theme="primary" class="ml-2" Split Size="2" Icon="Add" LeftIcon="ChevronDown" class="ml-2"></MsfButton>
        <MsfCommandButton Icon="Add" LeftIcon="ChevronDown" Size="2" class="ml-2">New</MsfCommandButton>
    </div>

    <div class="mt-3">
            <h4>3x</h4>
            <MsfIconButton Size="3" icon="Add" class="ml-2">Add</MsfIconButton>
            <MsfIconButton Size="3" icon="Add" Outline Rounded class="ml-2">Add</MsfIconButton>
            <MsfButton Size="3" theme="primary" class="ml-2">Standard</MsfButton>
            <MsfButton theme="primary" Size="3" Outline class="ml-2">Primary</MsfButton>
            <MsfButton theme="primary" Split Size="3" Icon="Add" LeftIcon="ChevronDown" class="ml-2"></MsfButton>
            <MsfCommandButton Icon="Add" LeftIcon="ChevronDown" Size="3"> class="ml-2">New</MsfCommandButton>
        </div>
</div>
</app-layout>
