@import './Msf-Color';
@import '../fabric-core/variables/Font.Variables';
@import '../fabric-core/variables/Color.Variables';



// context-menu-items
//
// For each of Bootstrap's context-menu-items, define text, background, and border color.


$msf_PivotItemLabel-Color:                     $ms-color-sharedGray30;

$msf_PivotItemLabelItem-padding-y:               0 !default;
$msf_PivotItemLabelItem-padding-x:               16px !default;
$msf_PivotItemLabelItem-fontFamily:             $msf-font-family-base !default;
$msf_PivotItemLabelItem-fontSize:                 14px !default;
$msf_PivotItemLabelItem-fontWeight:               600;
$msf_PivotItemLabelItem-height:                  46px !default;
$msf_PivotItemLabelItem-minWidth:                80px !default;
$msf_PivotItemLabelItem-line-height:             $msf_PivotItemLabelItem-height !default;


$msf_PivotItemLabelItem-focus-outline-color:     $ms-color-sharedGray30 !default;
$msf_PivotItemLabelItem-active-outline-color:    $ms-color-white !default;
$msf_PivotItemLabelItem-focus-outline-width:     1px !default;
$msf_PivotItemLabelItem-active-outline-width:    1px !default;

$msf_PivotItemLabelItem-Hover-bgColor:             $ms-color-gray20;



$msf_PivotActiveLabel-color:        $ms-color-sharedGray40;

$msf_PivotActiveBorder-background:     $msf-primary-color;

$standard: (
  "color": $msf_PivotItemLabel-Color,
  "iconColor": $msf_PivotItemLabel-Color,
  "bgColor": transparent,
  "hoverBgColor": $msf_PivotItemLabelItem-Hover-bgColor
);

$primary: (
  "color": $msf_PivotItemLabel-Color,
  "iconColor": $msf-primary-color,
  "bgColor": transparent,
  "hoverBgColor": $msf_PivotItemLabelItem-Hover-bgColor
);

$warning: (
  "color": $msf_PivotItemLabel-Color,
  "iconColor": $msf-warning-color,
  "bgColor": transparent,
  "hoverBgColor": $msf_PivotItemLabelItem-Hover-bgColor
);

$success: (
  "color": $msf_PivotItemLabel-Color,
  "iconColor": $msf-success-color,
  "bgColor": transparent,
  "hoverBgColor": $msf_PivotItemLabelItem-Hover-bgColor
);

$error: (
  "color": $msf-error-color,
  "iconColor": $msf-error-color,
  "bgColor": transparent,
  "hoverBgColor": $msf_PivotItemLabelItem-Hover-bgColor
);

$msf_PivotItemLabelThemes: () !default;
$msf_PivotItemLabelThemes: map_merge($msf_PivotItemLabelThemes, (
  "success": $success,
  "error": $error,
  "warning": $warning,
  "primary": $primary,
  "standard": $standard
))


