@import '~office-ui-fabric-core/src/sass/variables/Color.Variables';

$msf-standard-color:$ms-color-gray20 !default;
$msf-primary-color:$ms-color-communicationPrimary  !default;
$msf-warning-color:$ms-color-sharedOrange20  !default;
$msf-error-color:$ms-color-sharedRed10  !default;
$msf-success-color:$ms-color-sharedGreen10  !default;

$msf-standard-color--hover:$ms-color-gray30 !default;
$msf-primary-color--hover:$ms-color-communicationShade10 !default;
$msf-warning-color--hover:$ms-color-sharedOrange20 !default;
$msf-error-color--hover:$ms-color-sharedRed20 !default;
$msf-success-color--hover:$ms-color-sharedGreen20 !default;

$msf-standard-textColor:$ms-color-sharedGray40 !default;
$msf-primary-textColor:$ms-color-white !default;
$msf-warning-textColor:$ms-color-white !default;
$msf-error-textColor:$ms-color-white !default;
$msf-success-textColor:$ms-color-white !default;

$msf-background-color: $ms-color-white  !default;
$msf-white-color: $ms-color-white  !default;


$msf-fontColor:$ms-color-sharedGray40  !default;
$msf-fontColor10:$ms-color-sharedGray30  !default;
$msf-fontColor20:$ms-color-sharedGray20  !default;




$msf-theme-colors: (
    "standard": $msf-standard-color,
    "primary":  $msf-primary-color,
    "warning":  $msf-warning-color,
    "error":    $msf-error-color,
    "success":  $msf-success-color
) !default;

$msf-theme-foregroundColors: (
  "standard": $ms-color-sharedGray40,
  "primary":  $ms-color-white,
  "warning":  $ms-color-white,
  "error":    $ms-color-white,
  "success":  $ms-color-white
)  !default;;


$ms-palette-colors: () !default;

$ms-palette-colors: map_merge((
  "yellow"        : $ms-color-yellow,
  "yellowLight"   : $ms-color-yellowLight,
  "orange"        : $ms-color-orange,
  "orangeLight"   : $ms-color-orangeLight,
  "orangeLighter" : $ms-color-orangeLighter,
  "redDark"       : $ms-color-redDark,
  "red"           : $ms-color-red,
  "magentaDark"   : $ms-color-magentaDark,
  "magenta"       : $ms-color-magenta,
  "magentaLight"  : $ms-color-magentaLight,
  "purpleDark"    : $ms-color-purpleDark,
  "purple"        : $ms-color-purple,
  "purpleLight"   : $ms-color-purpleLight,
  "blueDark"      : $ms-color-blueDark,
  "blueMid"       : $ms-color-blueMid,
  "blue"          : $ms-color-blue,
  "blueLight"     : $ms-color-blueLight,
  "tealDark"      : $ms-color-tealDark,
  "teal"          : $ms-color-teal,
  "tealLight"     : $ms-color-tealLight,
  "greenDark"     : $ms-color-greenDark,
  "green"         : $ms-color-green,
  "greenLight"    : $ms-color-greenLight,
  "coolGray"      : $ms-color-sharedGray30,
  "warmGray"      : $ms-color-sharedGray40,
  "gold"          : $ms-color-sharedOrangeYellow10,
  "rust"          : $ms-color-sharedOrange30,
  "darkRed"       : $ms-color-sharedRed20,
  "lightRed"      : $ms-color-sharedRed10,
  "burgundy"      : $ms-color-sharedPinkRed10,
  "pink"          : $ms-color-sharedMagentaPink10,
  "lightPink"     : $ms-color-sharedMagenta10,
  "lightBlue"     : $ms-color-communicationPrimary,
  "violet"        : $ms-color-sharedBlueMagenta20,
  "darkBlue"      : $ms-color-sharedCyanBlue20,
  "cyan"          : $ms-color-sharedCyan30,
  "darkGreen"     : $ms-color-sharedGreen10

), $ms-palette-colors)
