@import "./Msf-Base";
@import "./Msf-Button";
@import "./Msf-ContextMenu";

$msf-fontSize-tn:10;
$msf-fontSize-sm:12;
$msf-fontSize-md:14;
$msf-fontSize-lg:24;
$msf-fontSize-xl:32;
$msf-fontSize-xxl:68;

$msf-fontSizes: (
  sm: $msf-fontSize-sm,
  md: $msf-fontSize-md,
  lg: $msf-fontSize-lg,
  xl: $msf-fontSize-xl,
  xxl: $msf-fontSize-xxl
);


$msf-size-tn:10;
$msf-size-sm:12;
$msf-size-md:14;
$msf-size-lg:24;
$msf-size-xl:32;
$msf-size-xxl:68;

$msf-sizes: (
  sm: $msf-size-sm,
  md: $msf-size-md,
  lg: $msf-size-lg,
  xl: $msf-size-xl,
  xxl: $msf-size-xxl
);

