@import '../fabric-core/variables/Color.Variables';
$msf-standard-color:$ms-color-gray40;
$msf-primary-color:$ms-color-communicationPrimary;
$msf-warning-color:$ms-color-sharedOrange20;
$msf-error-color:$ms-color-sharedRed10;
$msf-success-color:$ms-color-sharedGreen10;

$msf-standard-color--hover:$ms-color-gray50;
$msf-primary-color--hover:$ms-color-communicationShade10;
$msf-warning-color--hover:$ms-color-sharedOrange20;
$msf-error-color--hover:$ms-color-sharedRed20;
$msf-success-color--hover:$ms-color-sharedGreen20;

$msf-standard-textColor:$ms-color-sharedGray40;
$msf-primary-textColor:$ms-color-white;
$msf-warning-textColor:$ms-color-white;
$msf-error-textColor:$ms-color-white;
$msf-success-textColor:$ms-color-white;

$msf-theme-colors: () !default;

$msf-theme-colors: map-merge((
    "standard": $msf-standard-color,
    "primary":  $msf-primary-color,
    "warning":  $msf-warning-color,
    "error":    $msf-error-color,
    "success":  $msf-success-color
),$msf-theme-colors)