<div class="component-usage-section">
  <h5 class="component-usage-section-title">Rendering unknown persona coin</h5>

  <div class="component-usage-section-content">


    <div>
      <MsfPersonna>
        <MsfPersonnaFigure size="size72" unknown="true"></MsfPersonnaFigure>
        <MsfPersonnaText>
          <span class="msf-personna-primaryText">Maor Sharett</span>
          <span class="msf-personna-secondaryText">Designer</span>
        </MsfPersonnaText>
      </MsfPersonna>
    </div>

    <div>
      <MsfPersonna>
        <MsfPersonnaFigure size="size100" unknown="true"></MsfPersonnaFigure>
        <MsfPersonnaText>
          <span class="msf-personna-primaryText">Kat Larrson</span>
          <span class="msf-personna-secondaryText">Designer</span>
          <span class="msf-personna-secondaryText">Unverified sender</span>
        </MsfPersonnaText>
      </MsfPersonna>
    </div>


  </div>
</div>
