@import '../../msf-core/variables/Msf-Variable';
@import '../../msf-core/fabric-core/variables/Font.Variables';
@import '../../msf-core/fabric-core/variables/Animation.Variables';
@import '../controls/msf-Button.mixin';

.msf-button {
  font-family: $msf-font-family-base;
  font-size: $msf-button-font-size;
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: $msf-button-padding-y $msf-button-padding-x;
  min-width: $msf-button-minWidth;
  height: $msf-button-height;

  user-select: none;
  outline: transparent;
  border-width: $msf-button-border-width;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  text-decoration: none;
  border-radius: $msf-button-border-radius;

  background-color: transparent;
  
  box-sizing: border-box;

  transition: background-color $ms-motion-duration-3;

  &:disabled, &[disabled], &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.msf-button.msf-icon-button{
  min-width: $msf-button-height !important;
  padding: 0;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  flex-shrink: 0;
  line-height: $msf-button-height;
}

.msf-button.msf-rounded-button{
  border-radius: 50%;
}

.msf-button:focus::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: 1;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: 1px solid;
  transition: background-color $ms-motion-duration-3;
}


@each $color, $value in $msf-theme-colors {
  .msf-button-#{$color} {
    @include button-variant($value);
  }

  .msf-button-outline-#{$color} {
    @include button-outline-variant($value);
  }
}



.msf-button .msf-button-flex-layout{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}




.msf-button-outline {
  background-color: transparent !important;
  border: 1px solid $msf-standard-color;
}



.msf-button.msf-command-button {
  background: #FFF;
  border: none;
  height: 40px;
  border-radius: 0;
  font-weight: 400;
}


.msf-command-button.msf-button-standard {
  color: $msf-standard-textColor !important;
}

.msf-command-button.msf-button-primary {
  color: $msf-primary-color;
}

.msf-command-button.msf-button-warning {
  color:$msf-warning-color;
}

.msf-command-button.msf-button-error {
  color: $msf-error-color;
}

.msf-command-button.msf-button-success {
  color: $msf-success-color;
}




.msf-button .msf-button-label{
  margin-top: 0px;
  margin-right: 4px;
  margin-bottom: 0px;
  margin-left: 4px;
  line-height: 100%;
  display: block;
  font-weight: 500;
}

.msf-button.msf-command-button .msf-button-label{
  font-weight: normal;
}

.msf-button-icon{
  @include button_icon();
}



