//@import "src/fabric-core/variables/_Color.Variables.scss";
@import '~office-ui-fabric-core/src/sass/variables/Font.Variables';
@import '~office-ui-fabric-core/src/sass/variables/Animation.Variables';
//@import "src/fabric-core/variables/_Animation.Variables.scss";

.msf-Table {
  display: table;
  width: 100%;
  position: relative;
}



.msf-TableRow,
.msf-TableHead {
  display: table-row;
  font-family: "Segoe UI", $ms-font-family-west-european;
  border-bottom: 1px solid $ms-color-gray40;
  transition: all $ms-motion-duration-3;
}

.msf-TableRow.msf-TableRowError {
    background-color: $ms-color-severeWarningBackground;
}

MsfTableRow:hover{
    background-color: $ms-color-infoBackground;
}

.msf-TableHeadCell:hover{
    background-color: $ms-color-infoBackground;
}
.msf-TableCell,
.msf-TableHeadCell {
  display: table-cell;
  font-family: "segoe ui", $ms-font-family-west-european;
  border-bottom: 1px solid $ms-color-gray40;
  padding-top: 0px;
  margin-right: 32px;
  padding-bottom: 0px;
  padding-left: 12px;

  min-height: 42px;
}

.msf-TableColumnResizer {
  position: absolute;
  left:0;
  top:0;
    background: red;
    border:2px solid transparent;
    height: 100%;
    width: 1px;
    cursor: e-resize;
    user-select: none;
}

.msf-TableCellFlexLayout {
}
.msf-TableCellLayout {
  height: 100%;
  display: flex;
  align-items: center;
}

.msf-TableHeadCell {

  position: relative;

  display: table-cell;
  box-sizing: border-box;
  padding: 0 12px;
  line-height: inherit;
  margin: 0;
  height: 42px;
  vertical-align: top;
  white-space: nowrap;

  -webkit-font-smoothing: antialiased;

  cursor: pointer;
  text-overflow: ellipsis;
  text-align: left;
  color: rgb(50, 49, 48);
  font-size: 14px;
  font-weight: $ms-font-weight-semibold;
}
