@import '~office-ui-fabric-core/src/sass/variables/Font.Variables';
@import '~office-ui-fabric-core/src/sass/variables/Animation.Variables';
@import '~office-ui-fabric-core/src/sass/variables/Color.Variables';

$msf-table-border-color: $ms-color-gray40;
$msf-table-cell-hover-backgroundColor: $ms-color-infoBackground;

.msf-table {
  display: table;
}


.msf-table-row, .msf-table-head {
  display: table-row;
  border-bottom: 1px solid $msf-table-border-color;
  //transition: all $ms-motion-duration-3;

  &.msf-selected {
    background: $ms-color-gray20;
    user-select: none;
  }
}


.msf-table-row:hover {
  background-color: $msf-table-cell-hover-backgroundColor;
}


.msf-table-cell, .msf-table-head-cell {
  display: table-cell;
  border-bottom: 1px solid $msf-table-border-color;
  padding: 10px;
  vertical-align: middle;
}


.msf-table-head-cell {
  cursor: pointer;
  font-weight: $ms-font-weight-semibold;

  &:hover {
    background-color: $msf-table-cell-hover-backgroundColor;
  }
}
