@import '../../msf-core/variables/Msf-Variable';
@import '~office-ui-fabric-core/src/sass/variables/Font.Variables';
@import '~office-ui-fabric-core/src/sass/variables/Animation.Variables';
@import 'Msf-Button.mixin';

$msf-button-fontWeight: 600 !default;

$msf-button-color: $ms-color-gray160 !default;
$msf-button-backgroundColor: $ms-color-gray20 !default;



.msf-button, button.msf-button {
  font-family: $msf-font-family-base;
  font-size: $msf-button-font-size;
  font-weight: $msf-button-fontWeight;
  display: inline-block;
  position: relative;
  vertical-align: top;
  cursor: pointer;

  min-width: $msf-button-minWidth;
  height: $msf-button-height;
  margin:0;
  padding: 0;

  user-select: none;

  border: 1px solid transparent;
  outline: none;
  text-decoration: none;
  border-radius: $msf-button-border-radius;

  background-color: transparent;

  box-sizing: border-box;
  overflow: hidden;

  transition: background-color $ms-motion-duration-2;

  &.msf-button-outline {
    background: transparent;
    color: $msf-button-color;
    border-color: $msf-button-color;
  }

  &:disabled, &[disabled], &.msf-disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  & div:hover {
    backdrop-filter: brightness(75%);
  }

  &:focus { outline: none; backdrop-filter: brightness(130%);}
}

.msf-button.msf-icon-button{
  min-width: $msf-button-height !important;
  padding: 0;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  flex-shrink: 0;
  line-height: $msf-button-height;
}

.msf-button.msf-rounded{
  border-radius: 50%;
}

.msf-button:focus::after {
  content: "";
  position: absolute;

  display: inline-block;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: 1;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: 1px dashed;
  transition: background-color $ms-motion-duration-3;
}


@each $color, $value in $msf-theme-colors {
  .msf-button.msf-theme-#{$color} {
    background-color: $value;
    color: map_get($msf-theme-foregroundColors, $color);

    &.msf-button-outline {
      background-color: transparent;
      color: $value;
      border-color: $value;
      &:hover{
        background-color: $value;
        color: map_get($msf-theme-foregroundColors, $color);
      }
    }
  }

}



.msf-button .msf-button-flex-layout{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: $msf-button-padding-y $msf-button-padding-x;

  &:hover {
    backdrop-filter: brightness(90%);
  }
}





.msf-button.msf-command-button {
  border: none;
  height: 40px;
  border-radius: 0;
  font-weight: 400;
  background: transparent;
}


.msf-command-button.msf-button-standard {
  color: $msf-standard-textColor !important;
}

.msf-command-button.msf-button-primary {
  color: $msf-primary-color;
}

.msf-command-button.msf-button-warning {
  color:$msf-warning-color;
}

.msf-command-button.msf-button-error {
  color: $msf-error-color;
}

.msf-command-button.msf-button-success {
  color: $msf-success-color;
}

.msf-split-button-leftPart{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.msf-split-button-rightPart{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}


.msf-button .msf-button-label{
  margin: 0 4px;
  line-height: 100%;
  display: block;
  font-weight: 500;
}

.msf-button.msf-command-button .msf-button-label{
  font-weight: normal;
}

.msf-button-icon{
  @include button_icon();
}



