.msf-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 1px solid red;
  padding: 0;
  position: relative;
}

.msf-gridItem {
  display: block;
  position: relative;
  margin: 5px;
  transition: transform .3s;

}

.msf-gridItem.msf-selected {
  background: red;
  user-select: none;
}
