@import '~office-ui-fabric-core/src/sass/variables/Color.Variables';

.msf-grid {
  display: grid;
  padding: 0;
  position: relative;
  transition: grid-template-columns .3s;
}

.msf-gridItem {
  display: block;
  position: relative;
  margin: 5px;
  transition: transform .3s, width .3s;

}

.msf-gridItem.msf-selected {
  background: $ms-color-gray20;
  user-select: none;
}
