@import "../variables/msf-modal";

.msf-modal-header {

  color: inherit;
  margin: 0;

  line-height: normal;
}
.msf-modal-title {
  font-size: 20px;
  font-weight: 600;
}

.msf-modal-portal {
  background-color: $msf-modal-backgroundColor;
  padding: 20px;
}

.msf-modal-content {
  margin-top: 20px;
}

.msf-modal-actions {
  margin-top: 20px;
  text-align: right;

  & .msf-button {
    margin-left: 10px;
  }
}
