@import '../../msf-core/variables/Msf-Variable';

MsfIcon, [MsfIcon], MsfIconImage, [MsfIconImage] {
  margin: 0;
  padding: 0;


}

MsfIconImage img, [MsfIconImage] img {
  height: $msf-fontSize-md + px;
  width: $msf-fontSize-md + px;
}

@each $color, $value in $msf-theme-colors {
  MsfIcon.msf_Theme-#{$color}, [MsfIcon].msf_Theme-#{$color} {
    color: $value;
  }
}

@each $size, $value in $msf-fontSizes {
  MsfIcon.msf_Size-#{$size}, [MsfIcon].msf_Size-#{$size} {
    font-size: $value + px;
  }
}

@each $size, $value in $msf-sizes {
  MsfIconImage.msf_Size-#{$size} img, [MsfIconImage].msf_Size-#{$size} img {
    height: $value + px;
    width: $value + px;
  }
}
