@import '../../msf-core/variables/Msf-Variable';

.msf-IconFont, .msf-IconImage {
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}

.msf-IconImage {
  vertical-align: center;
  display: inline-block;


  height: $msf-fontSize-md + px;
  width: $msf-fontSize-md + px;
  position: relative;

  & img {
    position: absolute;
    top: 0;
    left: 0;

    height: $msf-fontSize-md + px;
    width: $msf-fontSize-md + px;
    display: inline-block;
    vertical-align: center !important;
    padding: 0;
    margin: 0;
  }
}


@each $color, $value in $msf-theme-colors {
  .msf-IconFont.msf_Theme-#{$color} {
    color: $value;
  }
}

@each $size, $value in $msf-fontSizes {
  .msf-IconFont.msf_Size-#{$size} {
    font-size: $value + px;
  }
}

@each $size, $value in $msf-sizes {
  .msf-IconFont.msf_Size-#{$size}, .msf-IconImage.msf_Size-#{$size} {
    height: $value + px;
    width: $value + px;

    & img {
      height: $value + px;
      width: $value + px;
    }
  }
}
