@import '~office-ui-fabric-core/src/sass/variables/Font.Variables';
@import '~office-ui-fabric-core/src/sass/variables/Animation.Variables';
@import '../../msf-core/variables/Msf-Variable';


$smsf-x: var(--x);

$msf-command-bar-button-padding-y:               0 !default;
$msf-command-bar-button-padding-x:               16px !default;
$msf-command-bar-button-font-family:             $msf-font-family-base !default;
$msf-command-bar-button-font-size:               14px !default;
$msf-command-bar-button-height:                  32px !default;

$msf-command-bar-button-line-height:             $msf-command-bar-button-height  !default;

$msf-command-bar-button-padding-y-small:            0 !default;
$msf-command-bar-button-padding-x-small:            8px !default;
$msf-command-bar-button-font-size-small:            11px !default;

$msf-command-bar-button-height-small:               22px !default;
$msf-command-bar-button-line-height-small:          $msf-command-bar-button-height-small  !default;

$msf-command-bar-button-padding-y-large:            0 !default;
$msf-command-bar-button-padding-x-large:            32px !default;
$msf-command-bar-button-font-size-large:            18px !default;

$msf-command-bar-button-height-large:               64px !default;
$msf-command-bar-button-line-height-large:          $msf-command-bar-button-height-large  !default;




.msf-command-button {
  font-family: $msf-font-family-base;
  font-size: $msf-command-bar-button-font-size;
  display: inline-block;
  position: relative;
  vertical-align: top;
  cursor: pointer;
  padding: $msf-command-bar-button-padding-y $msf-command-bar-button-padding-x;

  height: $msf-command-bar-button-height;

  user-select: none;
  outline: transparent;
  border: none;
  text-decoration: none;
  border-radius: $msf-button-border-radius;

  background-color: transparent;

  box-sizing: border-box;

  transition: background-color $ms-motion-duration-2;

  &:disabled, &[disabled], &.msf-disabled {
    opacity: 0.6;
    pointer-events: none;
  }


  &.msf-theme-primary {
    color: $msf-primary-color;
  }

  &.msf-theme-warning {
    color:$msf-warning-color;
  }

  &.msf-theme-error {
    color: $msf-error-color;
  }

  &.msf-theme-success {
    color: $msf-success-color;
  }

}

.msf-command-bar-button.msf-command-bar-icon-button{
  min-width: $msf-command-bar-button-height !important;
  padding: 0;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  flex-shrink: 0;
  line-height: $msf-button-height;
}


.msf-button .msf-button-flex-layout{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}






.msf-command-bar-split-button-leftPart{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.msf-command-bar-split-button-rightPart{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}


.msf-command-bar-button .msf-button-label{
  margin: 0 4px;
  line-height: 100%;
  display: block;
  font-weight: normal;
}




