<div class="component-usage-section">
  <h5 class="component-usage-section-title">Rendering unknown persona coin</h5>

  <div class="component-usage-section-content">


    <div>
      <MsfPersona size="size56">
        <MsfPersonaFigure  unknown="true"></MsfPersonaFigure>
        <MsfPersonaText>
          <span class="msf-persona-primaryText">Maor Sharett</span>
          <span class="msf-persona-secondaryText">Designer</span>
        </MsfPersonaText>
      </MsfPersona>
    </div>

    <div>
      <MsfPersona size="size100" >
        <MsfPersonaFigure unknown="true"></MsfPersonaFigure>
        <MsfPersonaText>
          <span class="msf-persona-primaryText">Kat Larrson</span>
          <span class="msf-persona-secondaryText">Designer</span>
          <span class="msf-persona-secondaryText">Unverified sender</span>
        </MsfPersonaText>
      </MsfPersona>
    </div>


  </div>
</div>
