<div class="d-flex">
  <div id="app-sidebar" style="height: 100vh;">
    <MsfContextualMenu style="width: 250px; height: 100%; border-radius: 0; box-shadow: none">
      <a MsfContextualMenuItem routerLink="/button" Icon="Button">Button</a>
      <MsfContextualMenuItem routerLink="/icon">Icon</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/menu" Icon="ContextMenu">Menu</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/dropdown" Icon="Dropdown">Dropdown</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/table" Icon="Table">Table</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/grid" Icon="GridViewMedium">Grid</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/pivot" >Pivot</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/checkbox" Icon="CheckboxComposite">Checkbox</MsfContextualMenuItem>
    </MsfContextualMenu>
  </div>

  <div class="px-2 documentation-body">
    <ng-content></ng-content>
  </div>
</div>
