<div class="d-flex">
  <div id="app-sidebar" style="height: 100vh; ">
    <MsfContextualMenu style="width: 250px; height: 100%; border-radius: 0; box-shadow: none">
      <a MsfContextualMenuItem routerLink="/button">Button</a>
      <a MsfContextualMenuItem routerLink="/radio">Radio</a>
      <MsfContextualMenuItem routerLink="/icon">Icon</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/menu">Menu</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/dropdown">Dropdown</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/table">Table</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/grid">Grid</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/pivot" >Pivot</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/checkbox">Checkbox</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/dialog">Select</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/dialog">TextField</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/dialog">Search</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/dialog">AutoComplete</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/dialog">Personna</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/callout" >Callout</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/dialog">Dialog</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/dialog">Alert</MsfContextualMenuItem>
      <MsfContextualMenuItem routerLink="/dialog">Toast</MsfContextualMenuItem>
    </MsfContextualMenu>
  </div>

  <div class="px-2 documentation-body">
    <ng-content></ng-content>
  </div>
</div>
