<style>
  .component-usage-section-content MsfIcon, .component-usage-section-content MsfIconImage {
    margin-left: 20px;
    margin-right: 20px}

  .personna-item{
    margin-top: 30px;
  }
</style>

<app-layout title="Icons">
  <h1>Personna</h1>

  <div class="component-overview">
    <h3 class="component-overview-title">Overview</h3>
    <div class="component-overview-content">
      Personas are used for rendering an individual's avatar and presence.
      They are used within the PeoplePicker components.
    </div>
  </div>


  <div class="component-usage mt-5">
    <h3 class="component-usage-title">Usage</h3>

    <app-various-personna></app-various-personna>

    <app-small-personna></app-small-personna>

    <app-initial-personna></app-initial-personna>

    <app-color-personna></app-color-personna>

    <app-unknown-personna></app-unknown-personna>

    <app-presence-personna></app-presence-personna>
  </div>

</app-layout>
