<h2>Mutable table</h2>
<div class="d-flex">
    <input type="text" (keyup)="filter($event.target.value)" placeholder="enter element Name" />
    <MsfButton Icon="Add" theme="primary" >Add</MsfButton>
</div>
<MsfTable>
    <MsfTableHead>
        <MsfTableHeadCell>#</MsfTableHeadCell>
        <MsfTableHeadCell sortBy="position">Position</MsfTableHeadCell>
        <MsfTableHeadCell sortBy="name">Name</MsfTableHeadCell>
        <MsfTableHeadCell sortBy="weight">Weight</MsfTableHeadCell>
        <MsfTableHeadCell sortBy="symbol">Symbol</MsfTableHeadCell>
        <MsfTableHeadCell></MsfTableHeadCell>
    </MsfTableHead>

    <MsfTableRow *ngFor="let item of elements" [value]="item" #line>
        <MsfTableCell>{{line.index+1}}</MsfTableCell>
        <MsfTableCell>{{item.position}}</MsfTableCell>
        <MsfTableCell>{{item.name}}</MsfTableCell>
        <MsfTableCell>{{item.weight}}</MsfTableCell>
        <MsfTableCell>{{item.symbol}}</MsfTableCell>
        <MsfTableCell>
            <MsfIconButton Icon="Delete" Theme="error" Rounded Outline (click)="remove(item)"></MsfIconButton>
        </MsfTableCell>
    </MsfTableRow>
</MsfTable>
