@import '../../msf-core/variables/Msf-Variable';
@import '../../msf-core/fabric-core/variables/Font.Variables';
@import '../../msf-core/fabric-core/variables/Animation.Variables';

$msf-button-standard-color:$msf-standard-color;
$msf-button-primary-color:$msf-primary-color;
$msf-button-warning-color:$msf-warning-color;
$msf-button-error-color:$msf-error-color;
$msf-button-success-color:$msf-success-color;

$msf-button-standard-color--hover:$msf-standard-color--hover;
$msf-button-primary-color--hover:$msf-primary-color--hover;
$msf-button-warning-color--hover:$msf-warning-color--hover;
$msf-button-error-color--hover:$msf-error-color--hover;
$msf-button-success-color--hover:$msf-success-color--hover;

$msf-button-standard-textColor:$msf-standard-textColor;
$msf-button-primary-textColor:$msf-primary-textColor;
$msf-button-warning-textColor:$msf-warning-textColor;
$msf-button-error-textColor:$msf-error-textColor;
$msf-button-success-textColor:$msf-success-textColor;


.msf-button {
    font-family: "Segoe UI", $ms-font-family-west-european;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: top;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 16px;
    min-width: 80px;
    height: 32px;
    
    user-select: none;
    outline: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
    border-radius: 2px;

    font-size: 14px;
    box-sizing: border-box;

    transition: background-color $ms-motion-duration-3;
}
 .msf-button:focus::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 2px;
    z-index: 1;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: 1px solid #FFF;
    transition: background-color $ms-motion-duration-3;
}

.msf-button[disabled]{
    opacity: 0.7;
    pointer-events: none;
}

.msf-button:hover{
    filter: brightness(85%);
}



.msf-button .msf-button-flex-layout{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.msf-button.msf-button-standard{
    color: $msf-button-standard-textColor
}

.msf-button.msf-button-primary{
    background-color: $msf-button-primary-color;
    color: $msf-button-primary-textColor;
}

.msf-button.msf-button-warning{
    background-color: $msf-button-warning-color;
    color:$msf-button-warning-textColor;
}

.msf-button.msf-button-error{
    background-color: $msf-button-error-color;
    color: $msf-button-error-textColor;
}

.msf-button.msf-button-success {
    background-color: $msf-button-success-color;
    color: $msf-button-success-textColor;
}


.msf-button-outline {
    background-color: transparent !important;
    border: 1px solid $msf-button-standard-color;
}

.msf-button-outline.msf-button-standard {
    border-color: $msf-button-standard-textColor;
    color: $msf-button-standard-textColor !important;
}

.msf-button-outline.msf-button-primary {
    border-color: $msf-button-primary-color;
    color: $msf-button-primary-color;
}

.msf-button-outline.msf-button-warning {
    border-color: $msf-button-warning-color;
    color:$msf-button-warning-color;
}

.msf-button-outline.msf-button-error {
    border-color: $msf-button-error-color;
    color: $msf-button-error-color;
}

.msf-button-outline.msf-button-success {
    border-color: $msf-button-success-color;
    color: $msf-button-success-color;
}


.msf-button.msf-command-button {
    background: #FFF;
    border: none;
    height: 40px;
    border-radius: 0;
    font-weight: 400;
}


.msf-command-button.msf-button-standard {
    color: $msf-button-standard-textColor !important;
}

.msf-command-button.msf-button-primary {  
    color: $msf-button-primary-color;
}

.msf-command-button.msf-button-warning {
    color:$msf-button-warning-color;
}

.msf-command-button.msf-button-error {
    color: $msf-button-error-color;
}

.msf-command-button.msf-button-success {
    color: $msf-button-success-color;
}




.msf-button .msf-button-label{
    margin-top: 0px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-left: 4px;
    line-height: 100%;
    display: block;
    font-weight: 500;
}

.msf-button.msf-command-button .msf-button-label{
    font-weight: normal;
}

.msf-button .msf-button-icon{
    font-size: 16px;
    margin-top: 0px;
    margin-right: 4px;
    margin-bottom: 0px;
    margin-left: 4px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    flex-shrink: 0;
    color: inherit;
}
