<div class="component-usage-section">
  <h5 class="component-usage-section-title">Alternative small personas</h5>

  <div class="component-usage-section-content">

    <div class="persona-item">

      <MsfPersona>
        <MsfPersonaFigure  [imageUrl]="imgSrc" size="size24"></MsfPersonaFigure>
        <MsfPersonaText>
          <span class="msf-persona-primaryText">Annie Reid</span>
          <span class="msf-persona-secondaryText">Designer</span>
        </MsfPersonaText>
      </MsfPersona>
    </div>


    <div class="persona-item">
      <MsfPersona>
        <MsfPersonaFigure  [imageUrl]="imgSrc" size="size32"></MsfPersonaFigure>
        <MsfPersonaText>
          <span class="msf-persona-primaryText">Annie Reid</span>
          <span class="msf-persona-secondaryText">Designer</span>
        </MsfPersonaText>
      </MsfPersona>
    </div>

    <div class="persona-item">
      <MsfPersona>
        <MsfPersonaFigure  [imageUrl]="imgSrc" size="size40" presence="online"></MsfPersonaFigure>
        <MsfPersonaText>
          <span class="msf-persona-primaryText">Annie Reid</span>
          <span class="msf-persona-secondaryText">Designer</span>
        </MsfPersonaText>
      </MsfPersona>
    </div>

  </div>
</div>
